<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="app/assets/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="app/assets/stylesheets/modern-business.css" rel="stylesheet">

  </head>

  <body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Plataforma de Cursos Online</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/courses">Cursos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/session/new">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/students/new">Registrar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin">Administrativo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/about">Sobre</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Sobre
      </h1>

      <!-- Intro Content -->
      <div class="row">
        <div class="col-lg-6">
          <h2>Quem somos</h2>
          <p>Somos uma empresa de e-commerce especializada na venda de cursos online. Os cursos podem ser dos mais variados tipos, desde programação até lingua portuguesa e história</p>
          <p>Junte-se a nós hoje mesmo e expanda seu conhecimento !</p>
        </div>
      </div>

    <!-- /.row -->

    </div>
    <!-- /.container -->

    <div style="margin-top: 425px">
    </div>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Plataforma de Cursos Online 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="app/assets/javascripts/jquery.min.js"></script>
    <script src="app/assets/javascripts/bootstrap.bundle.min.js"></script>

  </body>

</html>
