<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Plataforma de Cursos Online</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- Bootstrap core CSS -->
    <link href="app/assets/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="app/assets/stylesheets/modern-business.css" rel="stylesheet">

  </head>
  <% if $result == true %>
  <%= javascript_tag "alert('hello welcome')" %>
<% end %>
  <body>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Plataforma de Cursos Online</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/courses">Cursos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/session/new">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/students/new">Registrar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin">Administrativo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="pages/about">Sobre</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header>

    </header>

    <!-- Page Content -->
    <div class="container">

      <h1 class="my-4">Bem-vindo a Plataforma de Cursos Online</h1>

      <!-- Marketing Icons Section -->
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Curso de Ruby on Rails</h4>
            <div class="card-body">
              <p class="card-text">Aprenda o framework mais famoso de Ruby do básico ao avançado, com os melhores professores.</p>
            </div>
            <div class="card-footer">
              <a href="/courses/3" class="btn btn-primary" style="background-color: #F8F8FF; color:#000000">Aprenda agora</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Curso de JavaScript</h4>
            <div class="card-body">
              <p class="card-text">Aprenda JavaScript básico ao avançado e comece sua carreira como Web Developer.</p>
            </div>
            <div class="card-footer">
              <a href="/courses/1" class="btn btn-primary" style="background-color: #F8F8FF;color:#000000">Aprenda agora</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Curso de C/C++</h4>
            <div class="card-body">
              <p class="card-text">Aprenda C e C++ do básico ao avançado.</p>
            </div>
            <div class="card-footer">
              <a href="/courses/2" class="btn btn-primary" style="background-color: #F8F8FF;color:#000000">Aprenda agora</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

      <!-- Features Section -->
      <div class="row">
        <div class="col-lg-6">
          <h2>Aqui você vai ter:</h2>
          <ul>
            <li>Os melhores cursos de programação</li>
            <li>Excelentes professores</li>
            <li>Suporte para seus estudos</li>
          </ul>
        </div>
        <div class="col-lg-6">
          <img class="" src="app/assets/images/c++.jpg" alt="">
        </div>
      </div>
      <!-- /.row -->
      <div class="row mb-4" style="margin-left: 500px">
        <div class="col-md-8">
          <p> <font size="5">Você pode começar a aprender agora mesmo!</font> </p>
          </div>
        <div class="col-md-4">
          <a class="btn btn-lg btn-secondary btn-block" href="/students/new" style="background-color: #F8F8FF; color: #000000">Comece agora!</a>
        </div>
      </div>

      <hr>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Plataforma de Cursos Online 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="app/assets/javascripts/jquery.min.js"></script>
    <script src="app/assets/javascripts/bootstrap.bundle.min.js"></script>

  </body>

</html>
