<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @professor.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @professor.email %>
</p>

<p>
  <strong>Role:</strong>
  <%= @professor.role_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @professor.status %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @professor.notes %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @professor.balance %>
</p>

<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>
