<%= form_for(comission) do |f| %>
  <% if comission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comission.errors.count, "error") %> prohibited this comission from being saved:</h2>

      <ul>
      <% comission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sale_id %>
    <%= f.text_field :sale_id %>
  </div>

  <div class="field">
    <%= f.label :value %>
    <%= f.text_field :value %>
  </div>

  <div class="field">
    <%= f.label :professor_id %>
    <%= f.text_field :professor_id %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.number_field :status %>
  </div>

  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
