<p id="notice"><%= notice %></p>

<h1>Comissions</h1>

<table>
  <thead>
    <tr>
      <th>Sale</th>
      <th>Value</th>
      <th>Professor</th>
      <th>Status</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comissions.each do |comission| %>
      <tr>
        <td><%= comission.sale %></td>
        <td><%= comission.value %></td>
        <td><%= comission.professor %></td>
        <td><%= comission.status %></td>
        <td><%= comission.notes %></td>
        <td><%= link_to 'Show', comission %></td>
        <td><%= link_to 'Edit', edit_comission_path(comission) %></td>
        <td><%= link_to 'Destroy', comission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comission', new_comission_path %>
