<p id="notice"><%= notice %></p>

<p>
  <strong>Sale:</strong>
  <%= @comission.sale %>
</p>

<p>
  <strong>Value:</strong>
  <%= @comission.value %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @comission.professor %>
</p>

<p>
  <strong>Status:</strong>
  <%= @comission.status %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @comission.notes %>
</p>

<%= link_to 'Edit', edit_comission_path(@comission) %> |
<%= link_to 'Back', comissions_path %>
