<!DOCTYPE html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Plataforma de Cursos Online</title>

    <!-- Bootstrap core CSS -->
    <link href="app/assets/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="app/assets/stylesheets/modern-business.css" rel="stylesheet">

  </head>

<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">Plataforma de Cursos Online</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/courses">Cursos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/session/new">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/students/new">Registrar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin">Administrativo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="pages/about">Sobre</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<p id="notice"><%= notice %></p>

<h1>Cursos Disponiveis</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Categoria</th>
      <th>Preço</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <div class="collection">

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.description %></td>
        <td><%= course.category %></td>
        <td><%= course.price %> R$</td>
        <td><%= link_to 'Ver Curso', course %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div style="margin-top: 450px">
</div>
<!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Plataforma de Cursos Online 2018</p>
      </div>
      <!-- /.container -->
    </footer>
