<!DOCTYPE html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Plataforma de Cursos Online</title>

    <!-- Bootstrap core CSS -->
    <link href="app/assets/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="app/assets/stylesheets/modern-business.css" rel="stylesheet">

  </head>

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">Plataforma de Cursos Online</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/courses">Cursos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/session/new">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/students/new">Registrar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin">Administrativo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="pages/about">Sobre</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Categoria</th>
      <th>Preço</th>
      <th>Foto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<tbody>
<td>
  <strong></strong>
  <%= @course.name %>
</td>

<td>
  <strong></strong>
  <%= @course.description %>
</td>

<td>
  <strong></strong>
  <%= @course.category %>
</td>

<td>
  <strong></strong>
  <%= @course.price %> R$
</td>

<td>
  <strong></strong>
  <%= image_tag @course.photo , :class => "style_image"%>
</td>
</tbody>

<%= link_to 'Voltar', courses_path %>
