<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @discount.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @discount.description %>
</p>

<p>
  <strong>Value:</strong>
  <%= @discount.value %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @discount.kind %>
</p>

<p>
  <strong>Status:</strong>
  <%= @discount.status %>
</p>

<%= link_to 'Edit', edit_discount_path(@discount) %> |
<%= link_to 'Back', discounts_path %>
