// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
}
th {
    height: 50px;
    text-align: left;
    background-color: #343a40;
    color: white;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

    tr:hover {background-color: #f5f5f5;}
    tr:nth-child(even) {background-color: #f2f2f2;} 

.style_image{
    width: 50%;
    height: 50%;
}
