<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @sale.student %>
</p>

<p>
  <strong>Sale date:</strong>
  <%= @sale.sale_date %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @sale.professor %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @sale.discount %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @sale.notes %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
